<nav class="site-nav" aria-label="Primary navigation">
  <a href="/">Home</a>
  <a href="/games/">Games</a>
  <a href="/games/#browse-a-z">A–Z</a>
  <a href="/games/genres/">Genres</a>
  <a href="/games/publishers/">Publishers</a>
  <a href="/games/collections/">Collections</a>
</nav>
