<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="robots" content="noindex,follow">
<meta http-equiv="refresh" content="0; url=/games/{{SLUG}}/">
<script>
(function(){
window.location.replace("/games/{{SLUG}}/" + window.location.search + window.location.hash);
})();
</script>
<title>{{GAME_NAME}} | Cheeky Commodore Gamer</title>
<meta name="description" content="{{DESCRIPTION}}">
<link rel="canonical" href="{{CANONICAL_URL}}">
<meta property="og:url" content="{{CANONICAL_URL}}">
<meta name="twitter:url" content="{{CANONICAL_URL}}">
</head>
<body></body>
</html>
